span.search-icon {
    position: absolute;
    left: 15px;
}

form#form-search {
    position: relative;
}
input#input-search {
    padding-left: 37px;
}
.course-info {
    overflow: hidden;
}
.teacher img {
    width: 30px;
}
ul.nav-footer li {
    float: left;
    list-style: none;
    padding-left: 40px;
    font-size: 1.1rem;
}
img#img-slide {
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 575px) {
    *{

    }
    span.search-icon {
        top: 7px;
    }
    ul.nav-footer li{
        padding: 10px;
    }
    ul.nav-footer {
        display: flex;
        justify-content: center;
        padding: 0px;
    }
  }
  @media only screen and (max-width: 991px) {
    .card-body{
        min-height: 166px;
    }
  }